a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s all ease-out;

  &:hover,
  &:focus,
  &:active {
    color: $white;
  }

  &:focus {
    outline: thin dotted;
  }

  &:hover,
  &:active {
    outline: none;
  }
}
