{% include 'head.html' %}
<header>
    <div class="extra-container">
        <div class="header">
            <div class="header__logo"><a href="index.html" class="header__logo__link">3DCM</a></div>
            <nav>
                <ul>                            
                    <li class="header__link"><a href="#">Living room</a></li>
                    <li class="header__link"><a href="#">Bedroom</a></li>
                    <li class="header__link"><a href="#">Kitchen/Dining</a></li>
                    <li class="header__link"><a href="#">Bathroom</a></li>
                    <li class="header__link"><a href="#">Other</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>