{% include 'head.html' %}
<header>
    <div class="extra-container">
        <div class="header">
            <div class="header__logo"><a href="index.html" class="header__logo__link">3DCM</a></div>
            <nav>
                <ul>                            
                    <li class="header__link"><a href="index.html">Living room</a></li>
                    <li class="header__link"><a href="bedroom.html">Bedroom</a></li>
                    <li class="header__link"><a href="dining.html">Kitchen/Dining</a></li>
                    <li class="header__link"><a href="office.html">Office</a></li>
                    <li class="header__link"><a href="outdoor.html">Outdoor</a></li>
                    <li class="header__link"><a href="other.html">Other</a></li>
                    <li class="header__link"><a href="portfolio.html">Portfolio</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<div class="gallery-slider">
    <span class="gallery-slider__close">Close</span>
    <div class="gallery-slider-content swiper-container">
        <div class="swiper-wrapper"></div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>
