.thumbnail {
    border-radius: 4px;
    display: block;
    overflow: hidden;
    margin-bottom: 30px;
}
.thumb-tag {
    font-size: 18px;
	background-color: $main-dark;
	text-align: center;
	color: $silver;
	display: block;
}