.thumbnail {
    border-radius: 4px;
    display: block;
    overflow: hidden;
    margin-bottom: 30px;
}
.thumb-tag {
    font-size: 18px;
	background-color: $main-dark;
	text-align: center;
	color: $silver;
	display: block;
}


.portfolio-5__item {
    width: 12.5%;
    &--l {
        width: 25%;
    }
}
// .portfolio-5-image-detail {
//     position: fixed;
//     width: 100%;
//     height: 100%;
//     z-index: 1000;
// }
.gallery-slider {
    display: none;
}
.gallery-slider-active {
    display: block;
    background-color: $main-dark;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.gallery-slider-content {
    top: 50%;
    @include transform(translateY(-50%));
    .gallery-slider-content__item{
        @include Center();
        img {
            height: 100%;
            max-height: 1080px;
        }
    }
}
.gallery-slider__close {
    position: absolute;
    z-index: 2;
}