
<footer>
    <div class="extra-container">
        <div class="footer">
            <p><i class="far fa-copyright"></i> 2019 Poto. All rights reserved. Development with love by <a href="#">BoostifyThemes</a></p>
            <div class="footer__socials">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-behance"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a> 
                <a href="#"><i class="fab fa-dribbble"></i></a>
            </div>
        </div>
    </div>
</footer>


<script src="assets/scripts/jquery-3.4.1.js"> </script>

<script src="assets/scripts/isotope.pkgd.min.js"></script>


<script src="assets/scripts/app.js"></script>

</body>

</html>
