{% set officeItems = [
    {
        'src':'assets/images/office/trand/OFF001.jpg',
        'alt':'OFF001',
        'feature': 'trand'
    },
    {
        'src':'assets/images/office/trand/OFF002.jpg',
        'alt':'OFF002',
        'feature': 'trand'
    },
    {
        'src':'assets/images/office/trand/OFF003.jpg',
        'alt':'OFF003',
        'feature': 'trand'
    },
    {
        'src':'assets/images/office/trand/OFF004.jpg',
        'alt':'OFF004',
        'feature': 'trand'
    },
    {
        'src':'assets/images/office/trand/OFF005.jpg',
        'alt':'OFF005',
        'feature': 'trand'
    },
    {
        'src':'assets/images/office/trand/OFF006.jpg',
        'alt':'OFF006',
        'feature': 'trand'
    },
    {
        'src':'assets/images/office/trand/OFF007.jpg',
        'alt':'OFF007',
        'feature': 'trand'
    },
    {
        'src':'assets/images/office/trand/OFF008.jpg',
        'alt':'OFF008',
        'feature': 'trand'
    },
    {
        'src':'assets/images/office/modern/OFF009.jpg',
        'alt':'OFF009',
        'feature': 'modern'
    },
    {
        'src':'assets/images/office/farm/OFF010.jpg',
        'alt':'OFF010',
        'feature': 'farm'
    },
    {
        'src':'assets/images/office/contem/OFF011.jpg',
        'alt':'OFF011',
        'feature': 'contem'
    },
    {
        'src':'assets/images/office/contem/OFF012.jpg',
        'alt':'OFF012',
        'feature': 'contem'
    },
    {
        'src':'assets/images/office/farm/OFF013.jpg',
        'alt':'OFF013',
        'feature': 'farm'
    },
    {
        'src':'assets/images/office/hampton/OFF014.jpg',
        'alt':'OFF014',
        'feature': 'hampton'
    },
    {
        'src':'assets/images/office/contem/OFF015.jpg',
        'alt':'OFF015',
        'feature': 'contem'
    },
    {
        'src':'assets/images/office/urban/OFF016.jpg',
        'alt':'OFF016',
        'feature': 'urban'
    },
    {
        'src':'assets/images/office/contem/OFF017.jpg',
        'alt':'OFF017',
        'feature': 'contem'
    },
    {
        'src':'assets/images/office/contem/OFF018.jpg',
        'alt':'OFF018',
        'feature': 'contem'
    },
    {
        'src':'assets/images/office/contem/OFF019.jpg',
        'alt':'OFF019',
        'feature': 'contem'
    },
    {
        'src':'assets/images/office/farm/OFF020.jpg',
        'alt':'OFF020',
        'feature': 'farm'
    },
    {
        'src':'assets/images/office/farm/OFF021.jpg',
        'alt':'OFF021',
        'feature': 'farm'
    },
    {
        'src':'assets/images/office/modern/OFF022.jpg',
        'alt':'OFF022',
        'feature': 'modern'
    },
    {
        'src':'assets/images/office/contem/OFF023.jpg',
        'alt':'OFF023',
        'feature':'contem'
    },
    {
        'src':'assets/images/office/modern/OFF024.jpg',
        'alt':'OFF024',
        'feature':'modern'
    },
    {
        'src':'assets/images/office/contem/OFF025.jpg',
        'alt':'OFF025',
        'feature':'contem'
    },
    {
        'src':'assets/images/office/scan/OFF026.jpg',
        'alt':'OFF026',
        'feature':'scan'
    },
    {
        'src':'assets/images/office/modern/OFF027.jpg',
        'alt':'OFF027',
        'feature':'modern'
    },
    {
        'src':'assets/images/office/urban/OFF028.jpg',
        'alt':'OFF028',
        'feature':'urban'
    },
    {
        'src':'assets/images/office/scan/OFF029.jpg',
        'alt':'OFF029',
        'feature':'scan'
    },
    {
        'src':'assets/images/office/scan/OFF030.jpg',
        'alt':'OFF030',
        'feature':'scan'
    },
    {
        'src':'assets/images/office/scan/OFF031.jpg',
        'alt':'OFF031',
        'feature':'scan'
    },
    {
        'src':'assets/images/office/contem/OFF032.jpg',
        'alt':'OFF032',
        'feature':'contem'
    },
    {
        'src':'assets/images/office/hampton/OFF033.jpg',
        'alt':'OFF033',
        'feature':'hampton'
    },
    {
        'src':'assets/images/office/contem/OFF034.jpg',
        'alt':'OFF034',
        'feature':'contem'
    },
    {
        'src':'assets/images/office/contem/OFF035.jpg',
        'alt':'OFF035',
        'feature':'contem'
    },
    {
        'src':'assets/images/office/contem/OFF036.jpg',
        'alt':'OFF036',
        'feature':'contem'
    },
    {
        'src':'assets/images/office/scan/OFF037.jpg',
        'alt':'OFF037',
        'feature':'scan'
    },
    {
        'src':'assets/images/office/modern/OFF038.jpg',
        'alt':'OFF038',
        'feature':'modern'
    },
    {
        'src':'assets/images/office/trand/OFF039.jpg',
        'alt':'OFF039',
        'feature': 'trand'
    },
    {
        'src':'assets/images/office/scan/OFF040.jpg',
        'alt':'OFF040',
        'feature':'scan'
    },
    {
        'src':'assets/images/office/urban/OFF041.jpg',
        'alt':'OFF041',
        'feature':'urban'
    },
    {
        'src':'assets/images/office/urban/OFF042.jpg',
        'alt':'OFF042',
        'feature':'urban'
    },
    {
        'src':'assets/images/office/urban/OFF043.jpg',
        'alt':'OFF043',
        'feature':'urban'
    },
    {
        'src':'assets/images/office/urban/OFF044.jpg',
        'alt':'OFF044',
        'feature':'urban'
    },
    {
        'src':'assets/images/office/urban/OFF045.jpg',
        'alt':'OFF045',
        'feature':'urban'
    },
    {
        'src':'assets/images/office/urban/OFF046.jpg',
        'alt':'OFF046',
        'feature':'urban'
    },

]%}


<!-- content office area -->
<div class="extra-container">
    <div class="row grid-layout">
    {% for item in officeItems %} 
        <div class="{{GridCol}} grid-item {{item.feature}}">
            <img src="{{item.src}}" alt="{{item.alt}}">
            <span class="thumb-tag">{{item.alt}}</span>
        </div>
    {% endfor %}
    </div>
</div>