{% set contemItems = [
    {
        'src':'assets/images/living/contem/LIV023.jpg',
        'alt':'LIV023'
    },
    {
        'src':'assets/images/living/contem/LIV024.jpg',
        'alt':'LIV024'
    },
    {
        'src':'assets/images/living/contem/LIV025.jpg',
        'alt':'LIV025'
    },
    {
        'src':'assets/images/living/contem/LIV026.jpg',
        'alt':'LIV026'
    },
    {
        'src':'assets/images/living/contem/LIV027.jpg',
        'alt':'LIV027'
    },
    {
        'src':'assets/images/living/contem/LIV028.jpg',
        'alt':'LIV028'
    },
    {
        'src':'assets/images/living/contem/LIV029.jpg',
        'alt':'LIV029'
    },
    {
        'src':'assets/images/living/contem/LIV030.jpg',
        'alt':'LIV030'
    },
    {
        'src':'assets/images/living/contem/LIV031.jpg',
        'alt':'LIV031'
    },
    {
        'src':'assets/images/living/contem/LIV032.jpg',
        'alt':'LIV032'
    },
    {
        'src':'assets/images/living/contem/LIV033.jpg',
        'alt':'LIV033'
    },
    {
        'src':'assets/images/living/contem/LIV034.jpg',
        'alt':'LIV034'
    },
    {
        'src':'assets/images/living/contem/LIV035.jpg',
        'alt':'LIV035'
    },
    {
        'src':'assets/images/living/contem/LIV036.jpg',
        'alt':'LIV036'
    },
    {
        'src':'assets/images/living/contem/LIV037.jpg',
        'alt':'LIV037'
    },
    {
        'src':'assets/images/living/contem/LIV038.jpg',
        'alt':'LIV038'
    },
    {
        'src':'assets/images/living/contem/LIV040.jpg',
        'alt':'LIV040'
    },
    {
        'src':'assets/images/living/contem/LIV041.jpg',
        'alt':'LIV041'
    },
    {
        'src':'assets/images/living/contem/LIV042.jpg',
        'alt':'LIV042'
    },
    {
        'src':'assets/images/living/contem/LIV043.jpg',
        'alt':'LIV043'
    },
    {
        'src':'assets/images/living/contem/LIV044.jpg',
        'alt':'LIV044'
    },
    {
        'src':'assets/images/living/contem/LIV045.jpg',
        'alt':'LIV045'
    },
    {
        'src':'assets/images/living/contem/LIV046.jpg',
        'alt':'LIV046'
    },
    {
        'src':'assets/images/living/contem/LIV047.jpg',
        'alt':'LIV047'
    },
    {
        'src':'assets/images/living/contem/LIV048.jpg',
        'alt':'LIV048'
    },
    {
        'src':'assets/images/living/contem/LIV049.jpg',
        'alt':'LIV049'
    },
    {
        'src':'assets/images/living/contem/LIV050.jpg',
        'alt':'LIV050'
    },
    {
        'src':'assets/images/living/contem/LIV051.jpg',
        'alt':'LIV051'
    },
    {
        'src':'assets/images/living/contem/LIV052.jpg',
        'alt':'LIV052'
    },
    {
        'src':'assets/images/living/contem/LIV053.jpg',
        'alt':'LIV053'
    },
    {
        'src':'assets/images/living/contem/LIV054.jpg',
        'alt':'LIV054'
    },
    {
        'src':'assets/images/living/contem/LIV055.jpg',
        'alt':'LIV055'
    },
    {
        'src':'assets/images/living/contem/LIV056.jpg',
        'alt':'LIV056'
    },
    {
        'src':'assets/images/living/contem/LIV057.jpg',
        'alt':'LIV057'
    },
    {
        'src':'assets/images/living/contem/LIV059.jpg',
        'alt':'LIV059'
    },
]%}


{% for item in contemItems %} 
    <div class="{{GridCol}} contem">
        <a href="#" class="thumbnail">
            <img src="{{item.src}}" alt="{{item.alt}}">
            <span class="thumb-tag">{{item.alt}}</span>
        </a>
    </div>
{% endfor %}


