{% set hamptonItems = [
    {
        'src':'assets/images/living/hampton/LIV102.jpg',
        'alt':'LIV102'
    },
    {
        'src':'assets/images/living/hampton/LIV103.jpg',
        'alt':'LIV103'
    },
    {
        'src':'assets/images/living/hampton/LIV104.jpg',
        'alt':'LIV104'
    },
    {
        'src':'assets/images/living/hampton/LIV105.jpg',
        'alt':'LIV105'
    },
    {
        'src':'assets/images/living/hampton/LIV106.jpg',
        'alt':'LIV106'
    },
    {
        'src':'assets/images/living/hampton/LIV107.jpg',
        'alt':'LIV107'
    },
    {
        'src':'assets/images/living/hampton/LIV108.jpg',
        'alt':'LIV108'
    },
    {
        'src':'assets/images/living/hampton/LIV109.jpg',
        'alt':'LIV109'
    },
    {
        'src':'assets/images/living/hampton/LIV110.jpg',
        'alt':'LIV110'
    },
    {
        'src':'assets/images/living/hampton/LIV111.jpg',
        'alt':'LIV111'
    },
    {
        'src':'assets/images/living/hampton/LIV112.jpg',
        'alt':'LIV112'
    },
    {
        'src':'assets/images/living/hampton/LIV113.jpg',
        'alt':'LIV113'
    },
    {
        'src':'assets/images/living/hampton/LIV114.jpg',
        'alt':'LIV114'
    },
    {
        'src':'assets/images/living/hampton/LIV115.jpg',
        'alt':'LIV115'
    },
    {
        'src':'assets/images/living/hampton/LIV116.jpg',
        'alt':'LIV116'
    },
    {
        'src':'assets/images/living/hampton/LIV117.jpg',
        'alt':'LIV117'
    },
    {
        'src':'assets/images/living/hampton/LIV122.jpg',
        'alt':'LIV122'
    },
]%}


{% for item in hamptonItems %} 
    <div class="{{GridCol}} hampton">
        <a href="#" class="thumbnail">
            <img src="{{item.src}}" alt="{{item.alt}}">
            <span class="thumb-tag">{{item.alt}}</span>
        </a>
    </div>
{% endfor %}


