{% set livingItems = [
    {
        'src':'assets/images/living/LIV001.jpg',
        'alt':'LIV001',
        'feature': 'mordern'
    },
    {
        'src':'assets/images/living/LIV002.jpg',
        'alt':'LIV002',
        'feature': 'mordern'
    },
    {
        'src':'assets/images/living/LIV003.jpg',
        'alt':'LIV003',
        'feature': 'mordern'
    },
    {
        'src':'assets/images/living/LIV004.jpg',
        'alt':'LIV004',
        'feature': 'mordern'
    },
    {
        'src':'assets/images/living/LIV005.jpg',
        'alt':'LIV005',
        'feature': 'mordern'
    },
    {
        'src':'assets/images/living/LIV006.jpg',
        'alt':'LIV006',
        'feature': 'mordern'
    },
    {
        'src':'assets/images/living/LIV007.jpg',
        'alt':'LIV007',
        'feature': 'mordern'
    },
    {
        'src':'assets/images/living/LIV008.jpg',
        'alt':'LIV008',
        'feature': 'mordern'
    },
    {
        'src':'assets/images/living/LIV009.jpg',
        'alt':'LIV009',
        'feature': 'mordern'
    },
    {
        'src':'assets/images/living/LIV010.jpg',
        'alt':'LIV010',
        'feature': 'mordern'
    },
    {
        'src':'assets/images/living/LIV011.jpg',
        'alt':'LIV011',
        'feature': 'mordern'
    },
    {
        'src':'assets/images/living/LIV012.jpg',
        'alt':'LIV012',
        'feature': 'mordern'
    },
    {
        'src':'assets/images/living/LIV013.jpg',
        'alt':'LIV013',
        'feature': 'mordern'
    },
    {
        'src':'assets/images/living/LIV014.jpg',
        'alt':'LIV014',
        'feature': 'trand'
    },
    {
        'src':'assets/images/living/LIV015.jpg',
        'alt':'LIV015',
        'feature': 'trand'
    },
    {
        'src':'assets/images/living/LIV016.jpg',
        'alt':'LIV016',
        'feature': 'trand'
    },
    {
        'src':'assets/images/living/LIV017.jpg',
        'alt':'LIV017',
        'feature': 'trand'
    },
    {
        'src':'assets/images/living/LIV018.jpg',
        'alt':'LIV018',
        'feature': 'trand'
    },
    {
        'src':'assets/images/living/LIV019.jpg',
        'alt':'LIV019',
        'feature': 'trand'
    },
    {
        'src':'assets/images/living/LIV020.jpg',
        'alt':'LIV020',
        'feature': 'trand'
    },
    {
        'src':'assets/images/living/LIV021.jpg',
        'alt':'LIV021',
        'feature': 'trand'
    },
    {
        'src':'assets/images/living/LIV022.jpg',
        'alt':'LIV022',
        'feature': 'trand'
    },
    {
        'src':'assets/images/living/LIV023.jpg',
        'alt':'LIV023',
        'feature':'contem'
    },
    {
        'src':'assets/images/living/LIV024.jpg',
        'alt':'LIV024',
        'feature':'contem'
    },
    {
        'src':'assets/images/living/LIV025.jpg',
        'alt':'LIV025',
        'feature':'contem'
    },
    {
        'src':'assets/images/living/LIV026.jpg',
        'alt':'LIV026',
        'feature':'contem'
    },
    {
        'src':'assets/images/living/LIV027.jpg',
        'alt':'LIV027',
        'feature':'contem'
    },
    {
        'src':'assets/images/living/LIV028.jpg',
        'alt':'LIV028',
        'feature':'contem'
    },
    {
        'src':'assets/images/living/LIV029.jpg',
        'alt':'LIV029',
        'feature':'contem'
    },
    {
        'src':'assets/images/living/LIV030.jpg',
        'alt':'LIV030',
        'feature':'contem'
    },
    {
        'src':'assets/images/living/LIV031.jpg',
        'alt':'LIV031',
        'feature':'contem'
    },
    {
        'src':'assets/images/living/LIV032.jpg',
        'alt':'LIV032',
        'feature':'contem'
    },
    {
        'src':'assets/images/living/LIV033.jpg',
        'alt':'LIV033',
        'feature':'contem'
    },
    {
        'src':'assets/images/living/LIV034.jpg',
        'alt':'LIV034',
        'feature':'contem'
    },
    {
        'src':'assets/images/living/LIV035.jpg',
        'alt':'LIV035',
        'feature':'contem'
    },
    {
        'src':'assets/images/living/LIV036.jpg',
        'alt':'LIV036',
        'feature':'contem'
    },
    {
        'src':'assets/images/living/LIV037.jpg',
        'alt':'LIV037',
        'feature':'contem'
    },
    {
        'src':'assets/images/living/LIV038.jpg',
        'alt':'LIV038',
        'feature':'contem'
    },
    {
        'src':'assets/images/living/LIV039.jpg',
        'alt':'LIV039',
        'feature': 'mordern'
    },
    {
        'src':'assets/images/living/LIV040.jpg',
        'alt':'LIV040',
        'feature':'contem'
    },
    {
        'src':'assets/images/living/LIV041.jpg',
        'alt':'LIV041',
        'feature':'contem'
    },
    {
        'src':'assets/images/living/LIV042.jpg',
        'alt':'LIV042',
        'feature':'contem'
    },
    {
        'src':'assets/images/living/LIV043.jpg',
        'alt':'LIV043',
        'feature':'contem'
    },
    {
        'src':'assets/images/living/LIV044.jpg',
        'alt':'LIV044',
        'feature':'contem'
    },
    {
        'src':'assets/images/living/LIV045.jpg',
        'alt':'LIV045',
        'feature':'contem'
    },
    {
        'src':'assets/images/living/LIV046.jpg',
        'alt':'LIV046',
        'feature':'contem'
    },
    {
        'src':'assets/images/living/LIV047.jpg',
        'alt':'LIV047',
        'feature':'contem'
    },
    {
        'src':'assets/images/living/LIV048.jpg',
        'alt':'LIV048',
        'feature':'contem'
    },
    {
        'src':'assets/images/living/LIV049.jpg',
        'alt':'LIV049',
        'feature':'contem'
    },
    {
        'src':'assets/images/living/LIV050.jpg',
        'alt':'LIV050',
        'feature':'contem'
    },
    {
        'src':'assets/images/living/LIV051.jpg',
        'alt':'LIV051',
        'feature':'contem'
    },
    {
        'src':'assets/images/living/LIV052.jpg',
        'alt':'LIV052',
        'feature':'contem'
    },
    {
        'src':'assets/images/living/LIV053.jpg',
        'alt':'LIV053',
        'feature':'contem'
    },
    {
        'src':'assets/images/living/LIV054.jpg',
        'alt':'LIV054',
        'feature':'contem'
    },
    {
        'src':'assets/images/living/LIV055.jpg',
        'alt':'LIV055',
        'feature':'contem'
    },
    {
        'src':'assets/images/living/LIV056.jpg',
        'alt':'LIV056',
        'feature':'contem'
    },
    {
        'src':'assets/images/living/LIV057.jpg',
        'alt':'LIV057',
        'feature':'contem'
    },

    <!-- 58 -->
    {
        'src':'assets/images/living/LIV059.jpg',
        'alt':'LIV059',
        'feature':'contem'
    },


    {
        'src':'assets/images/living/LIV058.jpg',
        'alt':'LIV058',
        'feature': 'mordern'
    },
    {
        'src':'assets/images/living/LIV065.jpg',
        'alt':'LIV065',
        'feature': 'mordern'
    },
    {
        'src':'assets/images/living/LIV118.jpg',
        'alt':'LIV118',
        'feature': 'mordern'
    },
    {
        'src':'assets/images/living/LIV120.jpg',
        'alt':'LIV120',
        'feature': 'mordern'
    },
]%}


{% for item in livingItems %} 
    <div class="{{GridCol}} {{item.feature}}}">
        <a href="#" class="thumbnail">
            <img src="{{item.src}}" alt="{{item.alt}}">
            <span class="thumb-tag">{{item.alt}}</span>
        </a>
    </div>
{% endfor %}