{% set mordernItems = [
    {
        'src':'assets/images/living/mordern/LIV001.jpg',
        'alt':'LIV001'
    },
    {
        'src':'assets/images/living/mordern/LIV002.jpg',
        'alt':'LIV002'
    },
    {
        'src':'assets/images/living/mordern/LIV003.jpg',
        'alt':'LIV003'
    },
    {
        'src':'assets/images/living/mordern/LIV004.jpg',
        'alt':'LIV004'
    },
    {
        'src':'assets/images/living/mordern/LIV005.jpg',
        'alt':'LIV005'
    },
    {
        'src':'assets/images/living/mordern/LIV006.jpg',
        'alt':'LIV006'
    },
    {
        'src':'assets/images/living/mordern/LIV007.jpg',
        'alt':'LIV007'
    },
    {
        'src':'assets/images/living/mordern/LIV008.jpg',
        'alt':'LIV009'
    },
    {
        'src':'assets/images/living/mordern/LIV010.jpg',
        'alt':'LIV010'
    },
    {
        'src':'assets/images/living/mordern/LIV011.jpg',
        'alt':'LIV011'
    },
    {
        'src':'assets/images/living/mordern/LIV012.jpg',
        'alt':'LIV012'
    },
    {
        'src':'assets/images/living/mordern/LIV013.jpg',
        'alt':'LIV013'
    },
    {
        'src':'assets/images/living/mordern/LIV039.jpg',
        'alt':'LIV039'
    },
    {
        'src':'assets/images/living/mordern/LIV058.jpg',
        'alt':'LIV058'
    },
    {
        'src':'assets/images/living/mordern/LIV065.jpg',
        'alt':'LIV065'
    },
    {
        'src':'assets/images/living/mordern/LIV118.jpg',
        'alt':'LIV118'
    },
    {
        'src':'assets/images/living/mordern/LIV120.jpg',
        'alt':'LIV120'
    },
]%}


{% for item in mordernItems %} 
    <div class="{{GridCol}} mordern">
        <a href="#" class="thumbnail">
            <img src="{{item.src}}" alt="{{item.alt}}">
            <span class="thumb-tag">{{item.alt}}</span>
        </a>
    </div>
{% endfor %}


