{% include 'templates/header/header.html' %}

{% set GridCol = " col-lg-4 col-sm-6 " %}

<div class="extra-container">
    <div class="row">
    
    <!-- mordern -->
    {% include 'templates/living/mordern.html' %}

    <!-- tranditional -->
    {% include 'templates/living/trand.html' %}

    <!-- contem -->
    {% include 'templates/living/contem.html' %}

    <!-- scandinavian -->
    {% include 'templates/living/scan.html' %}

    <!-- hampton -->
    {% include 'templates/living/hampton.html' %}

    </div>
</div>

{% include 'templates/footer/footer.html' %}